* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --header-height: 70px;
  --mainBcgColor: #006600;
  --headerBcgColor: #666600;
  --redColor: red;
  --blueColor: #0000CC;
  --tanColor: #006666;
  --salmonColor: #CD5C5C;
  --whiteColor: white;
  --borderColor: black;
  --elementHeightLandscape: 10vw;
  --elementHeightPortrait: 10vh;
  --elementHeightPortraitSmaller: 8vh;
  --elementHeightLandscapeSmaller: 10vh;
}

header {
  height: var(--header-height);
  background-color: var(--headerBcgColor);
  border: 2px solid var(--borderColor);
}

main {
  height: calc(100vh - var(--header-height));
  background-color: var(--mainBcgColor);
  border: 2px solid var(--borderColor);
  border-top: 0;
}

.twoRedSquaresContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 20vw;
  transform: rotate(-45deg);
}

.twoRedSquaresContainer div {
  height: 100%;
  background-color: var(--redColor);
  border: 2px solid var(--borderColor);
}

.equalRoundContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40vh;
  left: 15vw;
}

.equalRoundContainer div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.equalRoundContainer div:nth-of-type(2) {
  height: 100%;
  background-color: var(--tanColor);
  border-radius: 50%;
  border: 2px solid var(--borderColor);
}

.equalRoundContainer span {
  display: block;
  width: 100%;
  background-color: var(--blueColor);
  border: 2px solid var(--borderColor);
}

.textDivContainer {
  position: absolute;
  bottom: 2vh;
  left: 20vw;
  height: 45vh;
  width: 150px;
  background-color: var(--blueColor);
  border: 2px solid var(--borderColor);
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 583px) {
  header {
    border: 3px solid var(--borderColor);
  }

  .twoRedSquaresContainer {
    top: calc(var(--header-height) + 12vh);
    left: 5vw;
  }

  .equalRoundContainer {
    top: 75vh;
    left: 5vw;
  }

  .textDivContainer {
    bottom: 4vh;
    left: calc(100vw - 4vh - 30vw);
    height: 75vh;
    width: 30vw;
    background-color: var(--salmonColor);
    font-size: 22px;
  }
}

@media (min-width: 901px) {
  header {
    border: 4px solid var(--borderColor);
  }

  .twoRedSquaresContainer {
    left: 2vw;
  }

  .equalRoundContainer {
    top: calc(var(--header-height) + 10vw);
    left: 35vw;
  }

  .textDivContainer {
    bottom: 4vh;
    left: calc(100vw - 4vh - 25vw);
    height: 75vh;
    width: 25vw;
    background-color: var(--whiteColor);
    font-size: 40px;
  }
}

@media (orientation: portrait) {
  .twoRedSquaresContainer {
    top: calc(var(--header-height) + var(--elementHeightPortrait) / 1.3);
    height: var(--elementHeightPortrait);
    width: calc(var(--elementHeightPortrait) * 2.5);
  }

  .twoRedSquaresContainer div {
    width: var(--elementHeightPortrait);
  }

  .equalRoundContainer {
    height: var(--elementHeightPortrait);
    width: calc(var(--elementHeightPortrait) * 2.5);
  }

  .equalRoundContainer div:nth-of-type(1) {
    width: var(--elementHeightPortrait);
  }

  .equalRoundContainer div:nth-of-type(2) {
    width: var(--elementHeightPortrait);
  }

  .equalRoundContainer span {
    height: calc(var(--elementHeightPortrait) / 5);
  }
}

@media (orientation: landscape) {
  .twoRedSquaresContainer {
    top: calc(var(--header-height) + var(--elementHeightLandscape) / 1.3);
    height: var(--elementHeightLandscape);
    width: calc(var(--elementHeightLandscape) * 2.5);
  }

  .twoRedSquaresContainer div {
    width: var(--elementHeightLandscape);
  }

  .equalRoundContainer {
    height: var(--elementHeightLandscape);
    width: calc(var(--elementHeightLandscape) * 2.5);
  }

  .equalRoundContainer div:nth-of-type(1) {
    width: var(--elementHeightLandscape);
  }

  .equalRoundContainer div:nth-of-type(2) {
    width: var(--elementHeightLandscape);
  }

  .equalRoundContainer span {
    height: calc(var(--elementHeightLandscape) / 5);
  }
}

/* smartphones landscape */
@media(max-height: 350px) {
  .twoRedSquaresContainer {
    top: calc(var(--header-height) + var(--elementHeightLandscapeSmaller) / 1.3);
    left: 40vw;
    height: var(--elementHeightLandscapeSmaller);
    width: calc(var(--elementHeightLandscapeSmaller) * 2.5);
  }

  .twoRedSquaresContainer div {
    width: var(--elementHeightLandscapeSmaller);
  }

  .equalRoundContainer {
    top: 50vh;
    left: 32vw;
    height: var(--elementHeightLandscapeSmaller);
    width: calc(var(--elementHeightLandscapeSmaller) * 2.5);
  }

  .equalRoundContainer div:nth-of-type(1) {
    width: var(--elementHeightLandscapeSmaller);
  }

  .equalRoundContainer div:nth-of-type(2) {
    width: var(--elementHeightLandscapeSmaller);
  }

  .equalRoundContainer span {
    height: calc(var(--elementHeightLandscapeSmaller) / 5);
  }

  .textDivContainer {
    height: 30vh;
    left: 35vw;
  }
}

/* ipads */
@media (min-height: 1000px) and (orientation: portrait) {
  .twoRedSquaresContainer {
    top: calc(var(--header-height) + var(--elementHeightPortraitSmaller) / 1.3);
    height: var(--elementHeightPortraitSmaller);
    width: calc(var(--elementHeightPortraitSmaller) * 2.5);
  }

  .twoRedSquaresContainer div {
    width: var(--elementHeightPortraitSmaller);
  }

  .equalRoundContainer {
    height: var(--elementHeightPortraitSmaller);
    width: calc(var(--elementHeightPortraitSmaller) * 2.5);
  }

  .equalRoundContainer div:nth-of-type(1) {
    width: var(--elementHeightPortraitSmaller);
  }

  .equalRoundContainer div:nth-of-type(2) {
    width: var(--elementHeightPortraitSmaller);
  }

  .equalRoundContainer span {
    height: calc(var(--elementHeightPortraitSmaller) / 5);
  }
}